body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button_cart {
  background-color: rgb(245, 96, 42);
  color: white
}

.cart {
  color: rgb(231, 101, 53); 
  color: white,
}

.prod_img {
  height: 500px;
  width:100%;
  border-radius: 10px;
}


.pro_img {
  height: 50px;
  width:100%;
  border-radius: 10px;
}

.col {
  color: rgb(231, 101, 53);
  color: rgb(231, 101, 53);
}